
extends doctest

priority 1

snippet s "sym2" w
sym2::
endsnippet

snippet ex "Expr" w
Expr
endsnippet

snippet ev "ExprView" w
ExprView<>
endsnippet

priority -9

snippet mr "memory_resource" w
std::pmr::memory_resource*
endsnippet

snippet dmr "get_default_resource" w
std::pmr::get_default_resource()
endsnippet

snippet pa "polymorphic_allocator" w
std::pmr::polymorphic_allocator<>
endsnippet

snippet 'namespace s' "namespace sym2" w
namespace sym2
endsnippet

priority -10
