
extends doctest

priority 1

snippet s "sym2" w
sym2::
endsnippet

snippet ex "Expr" w
Expr
endsnippet

snippet ev "ExprView" w
ExprView<>
endsnippet

priority -9

snippet 'namespace s' "namespace sym2" w
namespace sym2
endsnippet

priority -10
