
snippet sec "SUBCASE" b
SUBCASE("$1")
endsnippet

snippet sub "SUBCASE" b
SUBCASE("$1")
endsnippet

snippet test "TEST_CASE" b
TEST_CASE("$1")
endsnippet

snippet case "TEST_CASE" b
TEST_CASE("$1")
endsnippet

snippet req "REQUIRE" b
REQUIRE($1);
endsnippet

snippet reqf "REQUIRE_FALSE" b
REQUIRE_FALSE($1);
endsnippet

snippet ch "CHECK" b
CHECK($1);
endsnippet

snippet chf "CHECK_FALSE" b
CHECK($1);
endsnippet
